font_path=./SarasaMonoHC-Regular.ttf
font_size=14
main_foreground_color=#000000
main_background_color=#e0e0e0
main_select_foreground_color=#ffffff
main_select_background_color=#003fff
aux_foreground_color=#ffffff
aux_background_color=#000000
aux_select_foreground_color=#ffffff
aux_select_background_color=#ff3f00
