font_path=./UnifontMedium.ttf
font_size=16
main_foreground_color=#000000
main_background_color=#e0e0e0
main_select_foreground_color=#ffffff
main_select_background_color=#37465e
aux_foreground_color=#ffffff
aux_background_color=#000000
aux_select_foreground_color=#ffffff
aux_select_background_color=#ff3f00
